.vs/NKUST/project-colors.json
.vs/NKUST/DesignTimeBuild/.dtbcache.v2
.vs/NKUST/v17/.futdcache.v1
VS_Console/.vs/slnx.sqlite
VS_Console/.vs/VSWorkspaceState.json
VS_Console/.vs/VS_Console/v17/TestStore/0/000.testlog
VS_Console/.vs/VS_Console/v17/TestStore/0/testlog.manifest
VS_Console/FS/.vs/FS/project-colors.json
VS_Console/FS/.vs/FS/DesignTimeBuild/.dtbcache.v2
VS_Console/FS/.vs/FS/v17/.futdcache.v1
VS_Console/FS/.vs/FS/v17/TestStore/0/000.testlog
VS_Console/FS/.vs/FS/v17/TestStore/0/testlog.manifest
VS_Console/FS/bin/Debug/net6.0/FS.deps.json
VS_Console/FS/bin/Debug/net6.0/FS.runtimeconfig.json
VS_Console/FS/obj/FS.csproj.nuget.dgspec.json
VS_Console/FS/obj/FS.csproj.nuget.g.props
VS_Console/FS/obj/FS.csproj.nuget.g.targets
VS_Console/FS/obj/project.assets.json
VS_Console/FS/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
VS_Console/FS/obj/Debug/net6.0/FS.AssemblyInfo.cs
VS_Console/FS/obj/Debug/net6.0/FS.csproj.FileListAbsolute.txt
VS_Console/FS/obj/Debug/net6.0/FS.GeneratedMSBuildEditorConfig.editorconfig
VS_Console/FS/obj/Debug/net6.0/FS.GlobalUsings.g.cs
